# Purchasing tickets
## An example use case of the Digital Twin

This example just includes:
* Connecting
* Building relationships between models
* Updating values
* Modifying the relationships and updating twins
* Querying twins by relationship

In the previous scenario we made a bunch of customers. In this scenario we built a bunch of individual users 
[This is the SDK repo on Github](https://github.com/Azure/azure-sdk-for-python/tree/4559e19e2f3146a49f1eba1706bb798071f4a1f5/sdk/digitaltwins/azure-digitaltwins-core)

[Here is the doc on the query language](https://docs.microsoft.com/en-us/azure/digital-twins/concepts-query-language)

In [1]:
from azure.identity import AzureCliCredential
from azure.digitaltwins.core import DigitalTwinsClient

# using yaml instead of 
import yaml
import uuid

# using altair instead of matplotlib for vizuals
import numpy as np
import pandas as pd

# you will get this from the ADT resource at portal.azure.com
your_digital_twin_url = "home-test-twin.api.wcus.digitaltwins.azure.net"

azure_cli = AzureCliCredential()
service_client = DigitalTwinsClient(
    your_digital_twin_url, azure_cli)
service_client

So from the previous notebook we uploaded some models.

In [2]:
patron = service_client.get_model("dtmi:mymodels:patron;1")
patron.as_dict()

{'display_name': {'en': 'Patron'},
 'description': {'en': 'As an example, contains all of the properties possible in the DTDL.'},
 'id': 'dtmi:billmanh:patron;1',
 'upload_time': '2020-11-30T00:26:34.514069Z',
 'decommissioned': False}

And we have several `customers` in our ecosystem that are made from the `patron` model.

In [3]:
query_expression = "SELECT * FROM digitaltwins t where IS_OF_MODEL('dtmi:billmanh:patron;1')"
query_result = service_client.query_twins(query_expression)

**Note** the query object loves to drop values. To keep from making multiple queries, save the data somewhere.

In [4]:
values = []
for i in query_result:
    values.append(i)

In [5]:
df_customers = pd.DataFrame([[i['$dtId'],i['satisfaction']] for i in values],
                           columns=['id','satisfaction'])

In [6]:
df_customers

                                               id  satisfaction
0   customer-cc04f3b6-39b0-4cef-bfff-a7d668cce446            10
1   customer-3cbd5e60-957d-44ff-944f-9adb42a20a52            10
2   customer-5c454e2f-f70b-4352-b75a-958f1a49beba             7
3   customer-26196fee-5ffd-457a-86b7-192a998f3cf2             9
4   customer-e6f49d8a-711b-41c3-9db8-c7ece3dbc32c             7
..                                            ...           ...
79  customer-45e9aa03-733d-4a99-b9d5-94f1c6b04214             9
80  customer-0234cb48-1fa2-43e0-b69d-36a6ff269666             9
81  customer-75b2f757-faee-4a85-bc93-e6e9ff7cd891             6
82  customer-048f85a8-173e-4305-92b8-ead2a748b07f             8
83  customer-25e19268-3433-4f09-afe3-94f466313368            10

[84 rows x 2 columns]

Let's add another model for `tickets`.  In our very simple model, we will assume that `customers` will buy `tickets` to our events.

In [7]:
# service_client.delete_model(ticket_model_id)

In [8]:
# ticket_model_json = yaml.safe_load(open("models/ticket.json"))
# service_client.create_models([ticket_model_json])

In [9]:
ticket_model_id = "dtmi:mymodels:ticket;1"
get_model = service_client.get_model(ticket_model_id)
get_model.as_dict()

{'display_name': {'en': 'ticket'},
 'description': {'en': 'an abstract ticket'},
 'id': 'dtmi:billmanh:ticket;1',
 'upload_time': '2020-11-26T20:12:34.578813Z',
 'decommissioned': False}

Note that the dict returned from the service doesn't contain all of the values that you created, but that's ok.

In [10]:
def generate_twin(name,model_id):
    digital_twin_id = f'{name}-{str(uuid.uuid4())}'
    dt_json = {
        "$metadata": {
            "$model": model_id
        }
    }
    return digital_twin_id,dt_json

def updsert_twin():
    created_twin = service_client.upsert_digital_twin(digital_twin_id, dt_json)
    return created_twin

In [11]:
ticket_id, ticket_json = generate_twin("ticket",ticket_model_id)

In [12]:
ticket_json

{'$metadata': {'$model': 'dtmi:billmanh:ticket;1'}}

So when I create the `tickets` Iâ€™m going to create them as unsold (`available`) and for a range of events. I'm just going to introduce some tickets into the system for some shows coming up. These tickets just exist locally at this point, but we will 'go live' when we push them into the ecosystem.

In [13]:
def generate_tickets(title,n_tickets):
    tickets = []
    for i in range(n_tickets):
        ticket_id, ticket_json = generate_twin("ticket",ticket_model_id)
        ticket_json['event_title'] = title
        ticket_json['state'] = 'open'
        ticket_json['ticket_location'] = i
        ticket_json['uid'] = f'ticket-{str(uuid.uuid4())}'
        tickets.append(ticket_json)
    return tickets

tickets_df = pd.concat([pd.DataFrame(generate_tickets('Nirvana',5)),
          pd.DataFrame(generate_tickets('Smashing Pumpkins',5)),
           pd.DataFrame(generate_tickets('Foo Fighters',5))]).reset_index(drop=True)

tickets_df

,$metadata,event_title,state,ticket_location,uid
0,{'$model': 'dtmi:billmanh:ticket;1'},Nirvana,open,0,ticket-b10211a2-1a7a-4f6f-9fc3-d23daefe8cbe
1,{'$model': 'dtmi:billmanh:ticket;1'},Nirvana,open,1,ticket-d1d2ad08-add8-4f5f-97cf-0b6516914cc9
2,{'$model': 'dtmi:billmanh:ticket;1'},Nirvana,open,2,ticket-260e3349-adc5-41af-9ae5-4f3690d813c7
3,{'$model': 'dtmi:billmanh:ticket;1'},Nirvana,open,3,ticket-9f2bc5f4-b7d6-4f86-a1f8-c570cb263717
4,{'$model': 'dtmi:billmanh:ticket;1'},Nirvana,open,4,ticket-cf70a216-0183-4458-8e13-94f432f7b8c0
5,{'$model': 'dtmi:billmanh:ticket;1'},Smashing Pumpkins,open,0,ticket-57a45e6f-f42a-41b0-a0f5-68e5e0fd67ba
6,{'$model': 'dtmi:billmanh:ticket;1'},Smashing Pumpkins,open,1,ticket-7f414b3f-fde6-4cbc-ad58-86c7ccfb1109
7,{'$model': 'dtmi:billmanh:ticket;1'},Smashing Pumpkins,open,2,ticket-2d69b397-3ec3-4588-9eaf-5eb931f1f8c4
8,{'$model': 'dtmi:billmanh:ticket;1'},Smashing Pumpkins,open,3,ticket-e9fc6ad3-d7ad-4ef1-8a58-0759a0f27a00
9,{'$model': 'dtmi:billmanh:ticket;1'},Smashing Pumpkins,open,4,ticket-dc48bc69-b1f5-4850-b5af-037c4ea72961
10,{'$model': 'dtmi:billmanh:ticket;1'},Foo Fighters,open,0,ticket-b7a550e8-0fa8-46ff-8b4c-1a290a5d706c
11,{'$model': 'dtmi:billmanh:ticket;1'},Foo Fighters,open,1,ticket-92826a40-b024-4b91-a4d2-7e20dcfddce3
12,{'$model': 'dtmi:billmanh:ticket;1'},Foo Fighters,open,2,ticket-8c483b5c-37d4-4027-8d67-d920bf8ca063
13,{'$model': 'dtmi:billmanh:ticket;1'},Foo Fighters,open,3,ticket-09028447-8e23-4e4f-a100-098a4dc8e919
14,{'$model': 'dtmi:billmanh:ticket;1'},Foo Fighters,open,4,ticket-ccc89397-0d52-42a3-8fe1-39c97158c87c

Ok now that we know what tickets we want to sell, let's push them to the digital twin ecosystem. This is exactly the same as what we did with `Customers` in step one.

In [14]:
ticket_twins = []
for i in tickets_df.index:
    ticket_data = tickets_df.loc[i]
    ticket_twin_id = ticket_data['uid']
    ticket_json = ticket_data.drop('uid').to_dict()
    created_twin = service_client.upsert_digital_twin(ticket_twin_id, ticket_json)
    ticket_twins.append(created_twin)

In [15]:
ticket_twins[:3]

[{'$dtId': 'ticket-b10211a2-1a7a-4f6f-9fc3-d23daefe8cbe',
  '$etag': 'W/"172ddd8b-a58c-41da-9081-19b0ff611ffa"',
  'event_title': 'Nirvana',
  'state': 'open',
  'ticket_location': '0',
  '$metadata': {'$model': 'dtmi:billmanh:ticket;1',
   'event_title': {'lastUpdateTime': '2020-12-07T01:30:50.2153563Z'},
   'state': {'lastUpdateTime': '2020-12-07T01:30:50.2153563Z'},
   'ticket_location': {'lastUpdateTime': '2020-12-07T01:30:50.2153563Z'}}},
 {'$dtId': 'ticket-d1d2ad08-add8-4f5f-97cf-0b6516914cc9',
  '$etag': 'W/"f775c7be-176a-401a-b427-bd7797752283"',
  'event_title': 'Nirvana',
  'state': 'open',
  'ticket_location': '1',
  '$metadata': {'$model': 'dtmi:billmanh:ticket;1',
   'event_title': {'lastUpdateTime': '2020-12-07T01:30:50.8441094Z'},
   'state': {'lastUpdateTime': '2020-12-07T01:30:50.8441094Z'},
   'ticket_location': {'lastUpdateTime': '2020-12-07T01:30:50.8441094Z'}}},
 {'$dtId': 'ticket-260e3349-adc5-41af-9ae5-4f3690d813c7',
  '$etag': 'W/"8670c70a-b849-4d0c-abbc-5bcf6b77ec21"',
  'event_title': 'Nirvana',
  'state': 'open',
  'ticket_location': '2',
  '$metadata': {'$model': 'dtmi:billmanh:ticket;1',
   'event_title': {'lastUpdateTime': '2020-12-07T01:30:51.0152850Z'},
   'state': {'lastUpdateTime': '2020-12-07T01:30:51.0152850Z'},
   'ticket_location': {'lastUpdateTime': '2020-12-07T01:30:51.0152850Z'}}}]

In [16]:
# # Delete twins if you want
# for i in tickets_df.index:
#     ticket_data = tickets_df.loc[i]
#     ticket_twin_id = ticket_data['uid']
#     service_client.delete_digital_twin(ticket_twin_id)

So now I have `customers` and I have `tickets`, but there is no relationship between them. Let's pretend that I have a website that sells tickets. When a `customer` buys a `ticket` on the website, a relationship between the two is established AND the status of the ticket changes to sold. 

* website (or mobile app) will tell the user which tickets are still available, and have features that allow them to search by row, or by concert.
* the website (or mobile app) gets the latitude and longitude of the user when they buy the tickets. 
* once purchased, the status of that ticket changes to `sold`.

# The user experience (mobile app)

Here is where the user will buy tickets. 

This cell is a customer experience. The `customer` enters the website and looks up the available tickets for the show they want. This data comes from the website.

In [17]:
# selection from a dropdown menu or something
selection_show = 'Nirvana'
# just grabbing the first customer. 
user = df_customers.loc[0]['id']
user_lat = np.random.randint(0,100)
user_long = np.random.randint(0,100)

query_expression = f"""
SELECT * FROM digitaltwins where IS_OF_MODEL('{ticket_model_id}') 
and state = 'open'
and event_title = '{selection_show}'
"""
query_result = service_client.query_twins(query_expression)

Note that the client dumps records after the query. Try running the cell below a few times. If you need to use the values again and again you need to put them into memory somewhere.

In [18]:
available_tickets_df = pd.DataFrame([[i['$dtId'],i['event_title'],i['state']] for i in query_result],
                                   columns = ['$dtId','event_title','state'])
available_tickets_df

                                         $dtId event_title state
0  ticket-b10211a2-1a7a-4f6f-9fc3-d23daefe8cbe     Nirvana  open
1  ticket-d1d2ad08-add8-4f5f-97cf-0b6516914cc9     Nirvana  open
2  ticket-cf70a216-0183-4458-8e13-94f432f7b8c0     Nirvana  open
3  ticket-260e3349-adc5-41af-9ae5-4f3690d813c7     Nirvana  open
4  ticket-9f2bc5f4-b7d6-4f86-a1f8-c570cb263717     Nirvana  open

Now the user chooses to buy a ticket. The ticket state changes to closed.

In [19]:
customer_selection = available_tickets_df.loc[0]['$dtId']

service_client.get_digital_twin(customer_selection)

{'$dtId': 'ticket-b10211a2-1a7a-4f6f-9fc3-d23daefe8cbe',
 '$etag': 'W/"172ddd8b-a58c-41da-9081-19b0ff611ffa"',
 'event_title': 'Nirvana',
 'state': 'open',
 'ticket_location': '0',
 '$metadata': {'$model': 'dtmi:billmanh:ticket;1',
  'event_title': {'lastUpdateTime': '2020-12-07T01:30:50.2153563Z'},
  'state': {'lastUpdateTime': '2020-12-07T01:30:50.2153563Z'},
  'ticket_location': {'lastUpdateTime': '2020-12-07T01:30:50.2153563Z'}}}

In [20]:
customer_selection = available_tickets_df.loc[0]['$dtId']

patch = [
    {
        "op": "replace",
        "path": "",
        "value": "sold"
    }
]
service_client.update_component(customer_selection,"state", patch)

**NOTE** that the path is `""` when the item is at the root of the state.

In [21]:
query_expression = f"""
SELECT * FROM digitaltwins where IS_OF_MODEL('{ticket_model_id}') 
and event_title = '{selection_show}'
"""
query_result = service_client.query_twins(query_expression)
available_tickets_df = pd.DataFrame([[i['$dtId'],i['event_title'],i['state']] for i in query_result],
                                   columns = ['$dtId','event_title','state'])
available_tickets_df

                                         $dtId event_title state
0  ticket-600f2149-1ed8-4cb4-b0b8-bb6d03f575cd     Nirvana  sold
1  ticket-b8860b9b-cc54-4591-abb3-2abc3adc0800     Nirvana  sold
2  ticket-2256b8c9-1dd8-4ef8-a00a-b191dc122532     Nirvana  sold
3  ticket-99023c6e-5d97-4e43-ab08-3d893233c8b0     Nirvana  sold
4  ticket-132839a8-a4a3-4c75-ae96-9ff4085a07d4     Nirvana  sold
5  ticket-b10211a2-1a7a-4f6f-9fc3-d23daefe8cbe     Nirvana  open
6  ticket-d1d2ad08-add8-4f5f-97cf-0b6516914cc9     Nirvana  open
7  ticket-cf70a216-0183-4458-8e13-94f432f7b8c0     Nirvana  open
8  ticket-260e3349-adc5-41af-9ae5-4f3690d813c7     Nirvana  open
9  ticket-9f2bc5f4-b7d6-4f86-a1f8-c570cb263717     Nirvana  open

Relationships: 
* the target is the leaf (or the customer)
* the source is the branch (or the ticket)

you can add extra stuff to the relationship.

In [22]:
print(customer_selection)
print(user)

ticket-b10211a2-1a7a-4f6f-9fc3-d23daefe8cbe
customer-cc04f3b6-39b0-4cef-bfff-a7d668cce446

In [23]:
tickethoder_relationship = {
        "$relationshipId": f"{customer_selection}ownedBy{user}",
        "$sourceId": customer_selection,
        "$relationshipName": "ownedBy",
        "$targetId": user,
        "bought_online": True
    }

service_client.upsert_relationship(
        tickethoder_relationship["$sourceId"],
        tickethoder_relationship["$relationshipId"],
        tickethoder_relationship
    )

{'$relationshipId': 'ticket-b10211a2-1a7a-4f6f-9fc3-d23daefe8cbeownedBycustomer-cc04f3b6-39b0-4cef-bfff-a7d668cce446',
 '$etag': 'W/"63140a7e-b8e9-4638-909e-9adf67a05d0d"',
 '$sourceId': 'ticket-b10211a2-1a7a-4f6f-9fc3-d23daefe8cbe',
 '$relationshipName': 'ownedBy',
 '$targetId': 'customer-cc04f3b6-39b0-4cef-bfff-a7d668cce446',
 'bought_online': True}

In [24]:
[i for i in service_client.list_relationships(customer_selection)]
i

14

Another customer will buy several tickets.

In [25]:
query_expression = f"""
SELECT * FROM digitaltwins t where IS_OF_MODEL('{ticket_model_id}') 
and t.state = 'open'
"""
query_result = service_client.query_twins(query_expression)
available_tickets_df = pd.DataFrame([[i['$dtId'],i['event_title'],i['state']] for i in query_result],
                                   columns = ['$dtId','event_title','state'])
available_tickets_df

                                          $dtId        event_title state
0   ticket-52e25a0a-06b1-428f-b6a2-479cafc45c16  Smashing Pumpkins  open
1   ticket-58bf00bf-d5b8-4d06-9002-f8bf1693cc56       Foo Fighters  open
2   ticket-67f3cbfb-4b35-4e10-bf6d-3fd216093c3c       Foo Fighters  open
3   ticket-3f82286d-7e0b-4df5-a491-d9e28f7c94f9       Foo Fighters  open
4   ticket-d1d2ad08-add8-4f5f-97cf-0b6516914cc9            Nirvana  open
5   ticket-cf70a216-0183-4458-8e13-94f432f7b8c0            Nirvana  open
6   ticket-260e3349-adc5-41af-9ae5-4f3690d813c7            Nirvana  open
7   ticket-9f2bc5f4-b7d6-4f86-a1f8-c570cb263717            Nirvana  open
8   ticket-b7a550e8-0fa8-46ff-8b4c-1a290a5d706c       Foo Fighters  open
9   ticket-57a45e6f-f42a-41b0-a0f5-68e5e0fd67ba  Smashing Pumpkins  open
10  ticket-7f414b3f-fde6-4cbc-ad58-86c7ccfb1109  Smashing Pumpkins  open
11  ticket-2d69b397-3ec3-4588-9eaf-5eb931f1f8c4  Smashing Pumpkins  open
12  ticket-e9fc6ad3-d7ad-4ef1-8a58-0759a0f27a00  Smashing Pumpkins  open
13  ticket-dc48bc69-b1f5-4850-b5af-037c4ea72961  Smashing Pumpkins  open
14  ticket-92826a40-b024-4b91-a4d2-7e20dcfddce3       Foo Fighters  open
15  ticket-8c483b5c-37d4-4027-8d67-d920bf8ca063       Foo Fighters  open
16  ticket-09028447-8e23-4e4f-a100-098a4dc8e919       Foo Fighters  open
17  ticket-ccc89397-0d52-42a3-8fe1-39c97158c87c       Foo Fighters  open

In [26]:
other_user = df_customers.loc[len(df_customers)-1]['id']
other_user

'customer-25e19268-3433-4f09-afe3-94f466313368'

In [27]:
tickets_bought = available_tickets_df.loc[:5,'$dtId'].tolist()
tickets_bought

['ticket-52e25a0a-06b1-428f-b6a2-479cafc45c16',
 'ticket-58bf00bf-d5b8-4d06-9002-f8bf1693cc56',
 'ticket-67f3cbfb-4b35-4e10-bf6d-3fd216093c3c',
 'ticket-3f82286d-7e0b-4df5-a491-d9e28f7c94f9',
 'ticket-d1d2ad08-add8-4f5f-97cf-0b6516914cc9',
 'ticket-cf70a216-0183-4458-8e13-94f432f7b8c0']

In [28]:
tickets_bought

['ticket-52e25a0a-06b1-428f-b6a2-479cafc45c16',
 'ticket-58bf00bf-d5b8-4d06-9002-f8bf1693cc56',
 'ticket-67f3cbfb-4b35-4e10-bf6d-3fd216093c3c',
 'ticket-3f82286d-7e0b-4df5-a491-d9e28f7c94f9',
 'ticket-d1d2ad08-add8-4f5f-97cf-0b6516914cc9',
 'ticket-cf70a216-0183-4458-8e13-94f432f7b8c0']

In [29]:
for t in tickets_bought:
    print(t)
    tickethoder_relationship = {
            "$relationshipId": f"{customer_selection}ownedBy{other_user}",
            "$sourceId": t,
            "$relationshipName": "ownedBy",
            "$targetId": other_user,
            "bought_online": False
        }

    service_client.upsert_relationship(
            tickethoder_relationship["$sourceId"],
            tickethoder_relationship["$relationshipId"],
            tickethoder_relationship
        )
    customer_selection = available_tickets_df.loc[0]['$dtId']

    patch = [
        {
            "op": "replace",
            "path": "",
            "value": "sold"
        }
    ]
    service_client.update_component(t,"state", patch)

ticket-52e25a0a-06b1-428f-b6a2-479cafc45c16
ticket-58bf00bf-d5b8-4d06-9002-f8bf1693cc56
ticket-67f3cbfb-4b35-4e10-bf6d-3fd216093c3c
ticket-3f82286d-7e0b-4df5-a491-d9e28f7c94f9
ticket-d1d2ad08-add8-4f5f-97cf-0b6516914cc9
ticket-cf70a216-0183-4458-8e13-94f432f7b8c0

Now let's lets look at the tickets.

In [30]:
query_expression = f"""
SELECT * FROM digitaltwins t where IS_OF_MODEL('{ticket_model_id}') 
"""
query_result = service_client.query_twins(query_expression)
available_tickets_df = pd.DataFrame([[i['$dtId'],i['event_title'],i['state']] for i in query_result],
                                   columns = ['$dtId','event_title','state'])
available_tickets_df

                                          $dtId        event_title state
0   ticket-600f2149-1ed8-4cb4-b0b8-bb6d03f575cd            Nirvana  sold
1   ticket-b8860b9b-cc54-4591-abb3-2abc3adc0800            Nirvana  sold
2   ticket-2256b8c9-1dd8-4ef8-a00a-b191dc122532            Nirvana  sold
3   ticket-18663c82-67a2-4791-b1c4-05db261af867  Smashing Pumpkins  sold
4   ticket-99023c6e-5d97-4e43-ab08-3d893233c8b0            Nirvana  sold
5   ticket-132839a8-a4a3-4c75-ae96-9ff4085a07d4            Nirvana  sold
6   ticket-79f3f382-bd65-4788-8ad1-0db507b8a3ab  Smashing Pumpkins  sold
7   ticket-9f7c0906-9729-4568-a559-89d63b634d09  Smashing Pumpkins  sold
8   ticket-633f4537-50a1-4735-9e70-99bf19be51e4  Smashing Pumpkins  sold
9   ticket-52e25a0a-06b1-428f-b6a2-479cafc45c16  Smashing Pumpkins  sold
10  ticket-ca767da7-0152-4861-9be6-fbe39b5dd9d8       Foo Fighters  sold
11  ticket-0cd531c6-d81c-4c4c-84c9-9592a8f43e70       Foo Fighters  sold
12  ticket-58bf00bf-d5b8-4d06-9002-f8bf1693cc56       Foo Fighters  sold
13  ticket-67f3cbfb-4b35-4e10-bf6d-3fd216093c3c       Foo Fighters  sold
14  ticket-3f82286d-7e0b-4df5-a491-d9e28f7c94f9       Foo Fighters  sold
15  ticket-b10211a2-1a7a-4f6f-9fc3-d23daefe8cbe            Nirvana  sold
16  ticket-d1d2ad08-add8-4f5f-97cf-0b6516914cc9            Nirvana  sold
17  ticket-cf70a216-0183-4458-8e13-94f432f7b8c0            Nirvana  sold
18  ticket-260e3349-adc5-41af-9ae5-4f3690d813c7            Nirvana  open
19  ticket-9f2bc5f4-b7d6-4f86-a1f8-c570cb263717            Nirvana  open
20  ticket-b7a550e8-0fa8-46ff-8b4c-1a290a5d706c       Foo Fighters  open
21  ticket-57a45e6f-f42a-41b0-a0f5-68e5e0fd67ba  Smashing Pumpkins  open
22  ticket-7f414b3f-fde6-4cbc-ad58-86c7ccfb1109  Smashing Pumpkins  open
23  ticket-2d69b397-3ec3-4588-9eaf-5eb931f1f8c4  Smashing Pumpkins  open
24  ticket-e9fc6ad3-d7ad-4ef1-8a58-0759a0f27a00  Smashing Pumpkins  open
25  ticket-dc48bc69-b1f5-4850-b5af-037c4ea72961  Smashing Pumpkins  open
26  ticket-92826a40-b024-4b91-a4d2-7e20dcfddce3       Foo Fighters  open
27  ticket-8c483b5c-37d4-4027-8d67-d920bf8ca063       Foo Fighters  open
28  ticket-09028447-8e23-4e4f-a100-098a4dc8e919       Foo Fighters  open
29  ticket-ccc89397-0d52-42a3-8fe1-39c97158c87c       Foo Fighters  open

You can see that our web app can easily filter on tickets that are open and give a person specific rows. We will get into more complicated analysis in the next steps.